.header {
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-gap: 10px;
    padding: 15px 15px 0 15px;
}

.mobileMenu {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background-color:var(--white);
    padding: 20px 10px;
}

.menuClose {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 11;
}
