.menu {
    margin-bottom: 20px;
}

.firstLevelList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.firstLevel {
    display: grid;
    align-items: center;

    margin-top: 20px;

    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    grid-template-columns: 24px 1fr;
    grid-gap: 20px;
}

.firstLevelActive,
.firstLevel:hover {
    color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
    fill: var(--primary);
}

.secondLevel {
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    text-transform: uppercase;

    color: var(--gray-dark);

    font-size: 12px;
    line-height: 16px;
}

.secondBlock {
    margin-top: 15px;
    margin-left: 12px;
    list-style-type: none;
    padding: 0 0 0 32px;

    border-left: 1px solid #DFDFDF;
}

.secondLevelBlock {
    overflow: hidden;
    list-style-type: none;
    padding: 0;
}

.thirdLevel {
    display: block;

    margin-bottom: 10px;

    cursor: pointer;

    color: #333;

    font-size: 14px;
    font-weight: 400;
    outline-offset: -1px;
}

.thirdLevelHidden {
    visibility: hidden;
}

.thirdLevelActive,
.thirdLevel:hover {
    color: var(--primary);
}
