.sortIcon {
    visibility: hidden;
}

.active .sortIcon {
    visibility: visible;
}

.sortIcon {
    margin-right: 8px;
}

.sortBtn {
    display: flex;

    cursor: pointer;

    border: none;
    background-color: transparent;
}

.sortBtn.active {
    color: var(--primary);

    font-weight: 700;
}

.sort {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
}
