:root {
    --black: #3B434E;
    --gray-light: #EBEBEB;
    --gray: #A4A4A4;
    --gray-dark: #6c7077;
    --white: #FFF;
    --primary: #7351f5;
    --primary-hover: #6344DF;
    --red: #FC836D;
    --green: #007b48;
    --green-light: #C8F8E4;
    --font-family: 'Noto Sans KR', sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

    font-family: var(--font-family);
}

body {
    color: var(--black);
    background-color: #FFF;
}

a {
    text-decoration: none;

    color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}
